h1{
  /* text-align: center; */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 15px;
}

form{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.Field{
  width: 230px;
  height: 35px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  padding-left: 8px;
  outline: none;
  border: 2px solid #191919;
}

.submitButton{
  color:#fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  background-color: #191919;
  padding: 10px 30px;
  margin: 0 auto;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  border: 2px solid #191919;
}

.submitButton:hover{
  background-color:#fafafa;
  color: #191919;
  box-shadow: 1px 1px 2px black;
}

span a{
  color: #191919;
  font-weight: bold;
}