
.Button{
  display: block;
  width:  100%;
  font-family: Arial;
  color:white;
  background-color: #191919;
  text-decoration: none;
  font-size: 2.5em;
  padding: 10px 30px;
  margin: 10px;
  border: 2px solid #191919;
}

.Button:hover{
  color:#191919;
  background-color: #fafafa;
  box-shadow: 1px 1px 2px black;
}