.Header-Btn, .Header-Btn-Danger{
  color:#fafafa;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  padding: 10px 30px;
  margin: 0 auto;
  margin-top: 15px;
  border: none;
  cursor: pointer;
  border: 2px solid #fafafa;
  margin: 0 20px;
}

.Header-Btn:hover{
  background-color: #fafafa;
  color: #191919;
}
.Header-Btn-Danger:hover{
  background-color: #e03131;
}