.Extrato{
  max-width: 700px;
  min-width: 500px;
}

.Cabecalho{
  display: flex;
  background-color: #191919;
  color: #fafafa;
  font-weight: bold;
  padding: 10px 0px;
}
.Transacao{
  display: flex;
  padding: 5px 0;
}
.Transacao:nth-child(odd){
  background-color: #c4c4c4;
}
.Transacao:nth-child(even){
  background-color: #f8f8f8;
}
.Descricao{
  width:60%;
  text-align: center;
  text-transform: capitalize;
}
.Tipo{
  min-width:20%;
  text-align: center;
  text-transform: capitalize;
}
.Valor{
  min-width: 20%;
  text-align: center;
}