.Header{
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0px;
  left: 0px;
  background-color: #191919;
  box-shadow: 0.25px 0.25px 5px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header span{
  color: #fafafa;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}