html{
  width: 100%;
  height: 100%;
}

body{
  height: 100%;
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

