.loading{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #fcfefc;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.loading img{
  width: 70px;
}